@font-face {
 font-family: 'Roboto';
 src: url('Roboto-Regular.ttf');
}
@font-face {
 font-family: 'Nunito';
 src: url('Nunito-Regular.ttf');
}
body, td, div, span, p {
    font-family:'Roboto', sans-serif;
    user-select:none;
    -ms-user-select:none;
    -webkit-user-select:none;
}
table {
    border-spacing:0px;
    border-collapse:collapse;
}
td{
    padding-left: 2px;
    padding-right:2px;
}
.kbCard{
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.3);
    background-color: #74d7ff1c;
    cursor:pointer;
    margin-bottom:3px;
    border-radius:16px;
    display:block;
    -webkit-touch-callout:none;
    -webkit-user-select:none;
    -khtml-user-select:none;
    -moz-user-select:none;
    -ms-user-select:none;
    user-select:none;
    text-overflow: clip;
    transition: background-color 1s ease-out;
    padding-bottom:5px;
}
.padding{
    padding: 2px 5px;
}
.namePad{
    padding-top: 8px;
    padding-left: 2px;
    padding-right: 20px;
    text-overflow: clip;
    overflow: hidden;
}
.namePlate{
    height:32px;
    border-top-left-radius:16px;
    border-top-right-radius:16px;
    border-bottom-left-radius:16px;
    background-color:rgba(0, 255, 203, 0.18);
    font-size:10pt;
    font-weight:bold;
}
.userPhoto{
    padding:2px;
    float:left;
    border-radius:50%;
    height:28px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.kbCard:hover{
    box-shadow: inset 0px 0px 4px rgba(0,0,0,0.7);
}
.kbCard:active{
    box-shadow: inset 0px 0px 4px rgba(0,0,0,1);
}
.kbCardMenuActive{
    box-shadow: inset 0px 0px 4px rgba(0,0,0,1);
}
.kbCardIcon{
    float:right;
    position: relative;
    top:5px;
    right:4px;
    margin-left:-50px;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
.unavailableCol{
    background-color:rgb(200, 200, 200);
    transition: all 0.3s ease-out;
}
.Col{
    box-shadow: none;
    transition: all 0.3s ease-out;
}
.availableCol{
    box-shadow: inset 0px 0px 3px rgba(47, 148, 0, 0.75);
    transition: all 0.3s ease-out;
}
.proposedCol{
    background-color:rgb(184, 255, 184);
    box-shadow: inset 0px 0px 6px rgba(47, 148, 0, 0.5);
    transition: all 0.3s ease-out;
}

.dropped{
    background-color:rgb(232, 255, 232);
    transition: all 2.5s ease-out;
    animation:saving 1s 5;
}
@keyframes saving{
    0%{  background-color:rgb(232, 255, 232);}
    50%{ background-color:rgb(184, 255, 184);}
    100%{background-color:rgb(232, 255, 232);}
}
.puptip {
    text-align:center;
    box-shadow: 0 0 12px rgba(255, 0, 0, 0.5);
    position:absolute;
    white-space:no-wrap;
    background:rgb(255, 255, 255);
    border: 1px solid rgba(255, 0, 0, 0.4);
    border-radius: 3px;
    color: black;
    padding:15px 25px;
    z-index:9999;
}
.popupState {
    text-align:center;
    box-shadow: 0 0 12px rgba(0, 255, 0, 0.25);
    position:absolute;
    white-space:no-wrap;
    background:rgb(255, 255, 255);
    border: 1px solid rgba(0, 255, 0, 0.4);
    border-radius: 16px;
    color: black;
    padding:5px 10px;
    z-index:9999;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.3);
}

.modal-content {
  background-color: #ffffff;
  margin: 20px auto; /* 15% from the top and centered */
  padding: 24px;
  border: 1px solid #888;
  width: 300px; /* Could be more or less, depending on screen size */
}
.kbMenu {
    text-align:center;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.5);
    position:absolute;
    white-space:no-wrap;
    background-color:rgb(255, 255, 255);
    border: 1px solid rgb(128, 128, 128);
    border-radius: 3px;
}
.menuSeparator{
  background-color: #9eadbb;
  color:white;
  padding:0px 10px;
}
.menuButton{
  padding:4px 10px;
  cursor:pointer;
}
.menuButton:hover{
  background:radial-gradient(rgba(0, 0, 50, 0.04), rgba(0,0,50,0.06));
}