.puptip {
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
position:absolute;
white-space:no-wrap;
background:rgba(255,255,255,0.75);
border: 1px solid rgba(0,0,0,0.25);
border-radius: 3px;
color: black;
padding:5px;
z-index:9999;}

.legend{
box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
background:rgba(255,255,255,0.75);
border: 1px solid rgba(0,0,0,0.25);
border-radius: 3px;
color:black;
padding: 5px;}